<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title></title>
    <link rel="stylesheet" href="css\style.css">
    <script src="js\jquery-3.1.1.min.js" charset="utf-8"></script>
	</head>
	<body>
    <div class="One_Jdbox">
      <div class="Jdbox_head">
        <img src="img\logo1.jpg" alt="">
        <ul>
          <li><span th:text="'你好,'+ ${nickName}"></span><span>退出</span></li>
          <li>我的订单</li>
          <li>支付帮助</li>
        </ul>
      </div>
      <div class="Jdbox_BuySuc">
        <dl>

          <dd>
            <span th:text="'订单提交成功，请尽快付款！订单号：'+${outTradeNo}"> </span>
            <span th:text="'应付金额'+${totalAmount}+'元'"> </span>
          </dd>
          <dd>
            <span>推荐使用</span>
            <span>扫码支付请您在<font>24小时</font>内完成支付，否则订单会被自动取消(库存紧订单请参见详情页时限)</span>
            <span>订单详细</span>
          </dd>
        </dl>
      </div>
      <div class="Jd_Con">


        <div class="Jd_main">
          <ul>
            <li>
              <span>
                <input type="radio"  value="alipay" />
                <img src="img\alipay.jpg" alt="">支付宝
              </span>
            </li>
            <li>
              <span>
                <input type="radio"  value="mx" />
                <img src="img\weixin.png" alt="">微信支付
              </span>

            </li>
            <li>
            </li>
            <li>
            </li>
            <li>
              <button id="paymentButton">立即支付</button>
            </li>
          </ul>
        </div>
      </div>


    </div>

    <form    method="post" id="paymentForm">

         <input type="hidden" id="orderId"name="orderId" th:value="${orderId}" >
    </form>
    <div id="punchout_div">
      <!--<form name="punchout_form" id="punchout_form" method="post" action="https://openapi.alipay.com/gateway.do?charset=utf-8&method=alipay.trade.page.pay&sign=F81kniuMPjxNx5KHeZE34rRgZOpSfHxhZKTrKIE1H7aYwNBUda8wP%2Bp3JigECcPIB3RlWTFE7B0lbZcEGJMXHBk%2Fxq7fGQ9uqYAySrJE6UkW7MnEAyBRRHwfOT3y2%2FJ2Q%2F8ZrEBPnHOB5AxPZ7gm%2FQmRuUxpP6oS%2BQeEouQFbGpCEQxwEUZ%2FqG1H7R7zGPD0GiphmBdqdWb8ed3hU6GJPFJwTPFhru2YvLV2q4HAByFP%2F66dNY4TRVZ4Lxg%2BHwWwEoRwi5jDE2n%2BCCpIXQ7tPclZSg%2B45xJwFE9PKeGVZdm3XRYrye%2FwB8ntokc9w7u0X%2F4MZ13NUxWvGUxj3mFNXA%3D%3D&return_url=http%3A%2F%2Fpayment.gmall.com%3A8088%2Falipay%2Fcallback%2Freturn&notify_url=http%3A%2F%2Fpayment.gmall.com%3A8088%2Falipay%2Fcallback%2Fnotify&version=1.0&app_id=2018020102122556&sign_type=RSA2&timestamp=2018-08-23+11%3A39%3A52&alipay_sdk=alipay-sdk-java-dynamicVersionNo&format=json">
        <input type="hidden" name="biz_content" value="{&quot;out_trade_no&quot;:&quot;GAOFAN201808231139491534995589921&quot;,&quot;total_amount&quot;:&quot;0.001&quot;,&quot;subject&quot;:&quot;测试硅谷手机phone&quot;,&quot;product_code&quot;:&quot;FAST_INSTANT_TRADE_PAY&quot;}">
        <input type="submit" value="立即支付" style="display:none" >
      </form>-->

    </div>

	</body>
  <script type="text/javascript">
      $.post("/alipay/submit",{orderId:$("#orderId").val()},function(data){
          //console.log(data);
          //alert(data);
          $("#punchout_div").html(data);
          //alert($("#punchout_div").html());
      })

      $(function() {
          $("#paymentButton").click(function () {
              //$("#paymentForm").attr("action","/"+$("input[type='radio']:checked").val()+"/submit")  ;
              //$("#paymentForm").submit();
              $("#punchout_div").find("form").submit();

              //console.log($("#paymentForm").html()) ;
              //console.log($("#paymentForm").attr("action")) ;
          })


      })





    //立即支付按钮效果
    $("#paymentButton").mouseover(function(){
      $(this).css({"cursor":"pointer","background":"#FF5350"})
    }).mouseout(function(){
      $(this).css("background","#FC6E6C")
    })





  </script>
</html>
